section{
    height:500px;
    width: 100%;
    padding-bottom:100px;
}
.footdiv img{
    width:90%;
    height:100%;
    padding-top:5%;
}

.leftpadding{
    padding-left: 17%;
    padding-top:5%;
    width:420px;
}

.leftpad{
    padding-left: 15%;
}
.footdiv{
    padding-top: 50px;
    width:25%;
    height:250px;
    float: left;
}
.my-project{
    background-image: url('footer-bg.png');
    padding-top: 100px;
}

@media screen and (max-width:800px) {
    .my-project img{
        width: 150px;
        height: 100px;
    }
    .footdiv{
        margin-left: 0;
    }
    .my-project{
        height: 400px;
    }
}

